.Home {
  /* width: 65vw; */
  /* height: auto; */
  /* text-align: center; */
  /* background-color: #385069; */
  background-image: url('../images/spacebg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:100em;
}

.greeting{
  color: white;
}