.App {
  text-align: center;
  background-image: url('./images/spacebg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:100em;
  background-color: #385069;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin-left: 1em;
  float:left;
}
.Nav{
  float: none;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-header {
  background-color: #050f1a;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background{
  height: 100vh;
  width: 100vw;
  background-color: #385069;
}